@font-face {
  font-family: "KyivTypeTitling-Thin";
  src: url("fonts/KyivTypeTitling-Thin.otf");
}
@font-face {
  font-family: "KyivTypeTitling-Bold3";
  src: url("fonts/KyivTypeTitling-Bold3.otf");
}
@font-face {
  font-family: "Inter-Regular";
  src: url("fonts/Inter-Regular.otf");
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

* {
  font-family: "KyivTypeTitling-Thin";
  font-weight: bold;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  box-sizing: border-box;
}

body {
  position: relative;
  overflow-x: hidden;
}

a {
  font-family: Inter-Regular;
  color: #ca5742;
  text-decoration: none;
  transition: all.6s ease;
}

a:hover {
  color: #7e3b28;
  text-decoration: none;
  transition: all.6s ease;
}

header {
  float: left;
  width: 99.4%;
  padding: 0.3%;
}

header > div#name > a {
  font-family: KyivTypeTitling-Bold3;
  float: left;
  color: #7b301b;
  font-size: 2.8em;
  margin-left: 30px;
}

#logo {
  float: left;
  width: 47%;
}

#details {
  float: right;
  width: 30%;
}

#logo {
  text-align: center;
  font-size: 1.2em;
  padding-top: 20px;
  word-spacing: 30px;
}

#logo > a:hover {
  color: #ca5742;
  border-bottom: 1px solid #7b301b;
}

#details {
  text-align: right;
  font-size: 1.2em;
  padding-top: 20px;
  word-spacing: 3px;
  margin-right: 15px;
}

#details > a:hover {
  color: #ca5742;
  border-bottom: 1px solid #7b301b;
}

section#first-page {
  color: #fff;
  height: 1200px;
  width: inherit;
  background: url("../img/Ж-шапка.jpg") center no-repeat;
  background-size: 100% 100%;
}

section#first-page .text-page {
  color: #ffbe98;
  text-transform: uppercase;
  display: block;
  font-size: 1.7em;
  font-family: KyivTypeTitling-Bold3;
  line-height: 45px;
  letter-spacing: 7px;
  animation: text 4s 1;
}

@keyframes text {
  0% {
    margin-bottom: -30px;
  }
  30% {
    letter-spacing: 12px;
    margin-bottom: -30px;
  }
  85% {
    letter-spacing: 8px;
    margin-bottom: -30px;
  }
}

section#news .text-news {
  color: #ca5742;
  font-size: 24px;
  font-family: Inter-Regular;
  margin-top: 1100px;
}

h1 {
  font-family: "KyivTypeTitling-Bold3";
  color: #ca5742;
  font-size: 96px;
  text-align: left;
}

h2 {
  font-family: "Inter-Regular";
  color: #7e3b28;
  font-size: 24px;
  text-align: center;
}

h3 {
  font-family: "Inter-Regular";
  color: #7e3b28;
  font-size: 20px;
  text-align: right;
}

h4 {
  font-family: "";
  color: #fff;
  font-size: 24px;
  text-align: center;
}

h5 {
  font-family: "KyivTypeTitling-Bold3";
  color: #ca5742;
  font-size: 96px;
  text-align: center;
  width: 805px;
  height: 115px;
  margin-bottom: 400px;
}

h6 {
  font-family: "KyivTypeTitling";
  color: #7b301b;
  font-size: 40px;
  text-align: left;
}

hr {
  background-color: #ffbe98;
}

section#about-us {
  margin-top: 100px;
  margin-bottom: 100px;
}

section#about-us .u-content {
  margin-top: 80px;
}

section#about-us .content .item {
  width: 100%;
  height: 100%;
}

.containerpic {
  position: absolute;
  width: 400px;
  height: 650px;
  display: block;
}

.picture {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  transform: 0.2s;
}

.containerpic:hover .picture {
  transform: scale(1.3);
  box-shadow: 4px 8px 16px #ffbe98;
}

/*section#about-us .content .item-img {
    object-fit: cover;
    width: 646px;
    height: 807px;
    margin-top: 300px;
}

section#about-us .content .item .title {
    font-size: 30px;
    color: #781212;
    margin: 15px 0;
}*/

.text-aboutus {
  font-family: "KyivTypeTitling";
  color: #7e3b28;
  font-size: 23px;
  text-align: left;
  margin-left: 435px;
}

section#dignity {
  color: #fff;
  font-family: Inter-Regular;
  height: 60vh;
  width: 100%;
  background: url("../img/Преимущества.jpg") center no-repeat;
  background-size: cover;
  margin-top: 400px;
  margin-bottom: 50px;
}

.section-advantages {
  margin-left: -100px;
}

section#advantages {
  color: #fff;
  height: 576px;
  width: 620px;
  background: url("../img/Преимущества2.png") center no-repeat;
  background-size: 100% 100%;
  text-align: center;
  margin-bottom: 150px;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: transparent;
}

/*.container-slide {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 300px;
    -webkit-overflow-scrolling: touch;
  }

  .slide {
    flex: none;
    scroll-snap-align: start;
    width: 300px;
    text-align: center;
  }*/

section#advantages .item {
  font-size: 50px;
  cursor: default;
  z-index: -1;
  top: 0;
  left: 0;
  background: #fff;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  transform: translateX(-100%);
  transition-duration: 0.4s;
  opacity: 1;
}

section#advantages .text-advantages p {
  width: 100%;
  text-align: center;
  font-family: Inter-Regular;
  color: #ca5742;
  font-size: 28px;
  margin-bottom: 100px;
  word-spacing: 25px;
}

section#news {
  height: 1200px;
  width: inherit;
  background: url("../img/Новости.jpg") center no-repeat;
  background-size: 100% 80%;
}

section#contact {
  margin-top: 200px;
}

/*@media screen and (max-width: 995.98px)
.footer
.footer_input_subscribe {
    max-width: 100%;
}*/

.p {
  padding: 3em;
}

.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x)) * -0.5;
}

.footer {
  width: 100%;
  height: 100%;
  margin-top: 80px;
  padding: 20px 0;
  color: #ca5742;
  font-size: 15px;
  background: linear-gradient(transparent, #ca5742);
}

.footer .footer_input_subscribe {
  width: 100%;
  height: 37px;
  border-bottom: 1px solid #ffbe98 !important;
  border: none;
  border-radius: 0;
  outline: none;
  color: #7b301b;
  font-size: 15px;
  padding: 0 10px;
}

.footer .footer_action_heading {
  margin: 1.2rem 0;
  font-size: 40px;
  font-weight: 500;
  margin-left: 30px;
}

.footer .footer_action_heading > span {
  font-family: KyivTypeTitling-Bold3;
}

.footer .footer_action_form {
  margin-left: 30px;
}

.footer .footer_action_headinglight > span {
  font-size: 20px;
  font-family: Inter-Regular;
  color: #ca5742;
}

ul {
  list-style-type: none;
}

input[type="email" i] {
  padding-block: 1px;
  padding-inline: 2px;
  background-color: transparent;
}

.footer .footer_action_btn_submit {
  border: none;
  outline: none;
  width: 100%;
  max-width: 90%;
  text-align: left;
  height: 35px;
  padding: 1px 0 1px 6px;
  font-weight: 400;
  background-color: transparent;
  margin: 0;
  color: #ffbe98;
}

button,
input {
  outline: none;
}

a,
button {
  cursor: pointer;
}

button,
select {
  text-transform: none;
}

button,
input {
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button {
  appearance: auto;
  text-rendering: auto;
  color: transparent;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  background-color: transparent;
  margin: 0em;
  padding-block: 1px;
  padding-inline: 6px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonborder;
  border-image: initial;
}

.row > * {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.copyright {
  color: #ffbe98;
  margin-top: 30px;
}

@media screen and (max-width: 1440px) and (min-width: 768px) {
  section#first-page {
    max-width: 1440px;
  }

  section#news {
    max-width: 1440px;
    width: 100%;
  }

  .row > * {
    width: 1440px;
  }

  .copyright {
    margin-left: 0px;
  }
}

@media screen and (max-width: 1210px) {
  #logo {
    gap: 25px;
    display: flex;
    align-items: center;
    width: 300px;
    margin-left: 65px;
  }

  #details {
    display: flex;
    flex-direction: column;
  }

  .p {
    padding: 0;
    margin-left: 20px;
  }
}
